@font-face{
  font-family: MonserratFuneteCustom;
  src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

h1{
  font-family: 'Mansalva', cursive;
  font-style: italic;
  text-transform: uppercase;
  font-size: 45px;
  color: olive;
}

h3{
  font-family: MonserratFuneteCustom, "Comic Sans MS";
  font-size: 25px;
  font-weight: lighter;
  /*colores*/
  /*del sistema*/
  color: mediumpurple;
  /*hexadecimales*/
  color: #cccccc;
  /*rgb*/
  color: rgb(255, 255, 107);
  /*rgba*/
  color: rgba(119, 37, 42, 0.5);
}

p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

